*{
    margin: 0%;
}

header{
    background-image: url(../img/bg-banner.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

    }

.topo {
    align-items: center; 
  display:  block;
  justify-content: center;
  

}

ul {
    text-align: right;
    list-style: none;
   }

.menu li {
    display: inline;
}



header > div {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 30px;
    text-decoration: none;
}


header a {
background-color: tomato;
color: black;
padding: 10px 30px;
text-decoration: none;
transition: 5s color;
}


header a:hover{
    background-color: black;
    color: white;
    transition: 1s all;
}


header a:active,
header a:focus,
header a:visited{

}

.oque {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 30px;
  }

 

.contato {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

form div {
    width: 300px;
    display: inline-block;
}

form > input {
    display: block;
}

.footer p{

}